@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 42px 6.94%;
  background-color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3.47%;
  row-gap: 50px;
}

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

#navbar-container {
  margin: 0 auto 17px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
#navbar-logo {
  width: 268px;
  height: 93px;
}

#search {
  width: 100%;
  height: 70px;
  margin: 0 0 5px;
  padding: 24px;
  background-color: #e7e7e7;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  font-weight: 400;
}
#search:focus {
  outline: 2px solid #ed6454;
}
#searchbar {
  position: relative;
}
#searchbar-logo {
  width: 44px;
  height: 44px;
  margin: 13px 10px;
  position: absolute;
  right: 0;
  background-image: url(../../images/icon-search.svg);
}

.filters-wrapper {
  width: 100%;
  height: 110px;
  position: relative;
  color: #fff;
  z-index: 10;
  display: flex;
  flex-flow: row nowrap;
}
.filter-label {
  width: 170px;
  height: 70px;
  display: inline-block;
  position: relative;
  margin: 15px 20px 25px 0;
  padding: 24px 14px;
  border-radius: 5px;
  text-align: left;
  cursor: pointer;
}
.filter-icon {
  width: 32px;
  height: 32px;
  z-index: 100;
  position: absolute;
  right: 10px;
  top: 18px;
  content: "";
}
.filter-icon-expand {
  background-image: url(../../images/icon-expand.svg);
}
.filter-icon-reduce {
  background-image: url(../../images/icon-reduce.svg);
}
.filter-input {
  z-index: 15;
  visibility: hidden;
  width: 667px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 22px 19px;
  border-radius: 5px 5px 0 0;
  border: none;
  font-size: 18px;
  text-align: left;
  color: #fff;
}
.filter-input:focus {
  outline: none;
}
.filter-input::placeholder {
  font-weight: 700;
}
.filter-input-wrapper {
  position: relative;
}
.filter-list {
  z-index: 15;
  visibility: hidden;
  width: 667px;
  position: absolute;
  top: 70px;
  padding: 0 19px 16px;
  border-radius: 0 0 5px 5px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  column-gap: 10px;
}
.filter-list li:hover {
  cursor: pointer;
}

#ingredients-label {
  background-color: #3282f7;
}
#ingredients-input {
  background-color: #3282f7;
}
#ingredients-input::placeholder {
  color: #f6faff;
}
#ingredients-list {
  background-color: #3282f7;
}
#ingredients-list li:hover {
  background: #0751bc;
}

#appliance-label {
  background-color: #68d9a4;
}
#appliance-input {
  background-color: #68d9a4;
}
#appliance-input::placeholder {
  color: white;
}
#appliance-list {
  background-color: #68d9a4;
}
#appliance-list li:hover {
  background: #2caf72;
}

#utensils-label {
  background-color: #ed6454;
}
#utensils-input {
  background-color: #ed6454;
}
#utensils-input::placeholder {
  color: white;
}
#utensils-list {
  background-color: #ed6454;
}
#utensils-list li:hover {
  background: #c62715;
}

.tag {
  height: 37px;
  padding: 0 55px 0 20px;
  margin: 20px 10px 0 0;
  position: relative;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.tag::after {
  width: 24px;
  height: 24px;
  margin-left: 11px;
  position: absolute;
  top: 7px;
  right: 20px;
  background-image: url(../../images/icon-close-tag.svg);
  content: "";
}
.tag-ingredients {
  background-color: #3282f7;
}
.tag-appliance {
  background: #68d9a4;
}
.tag-utensils {
  background: #ed6454;
}

.card {
  height: 364px;
  background-color: #e7e7e7;
  border: none;
  border-radius: 5px;
  overflow: hidden;
}
.card-top {
  height: 178px;
  background-color: #c7bebe;
  border-radius: 5px 5px 0 0;
}
.card-top-img {
  width: 100%;
  height: 178px;
  object-fit: cover;
}
.card-bottom {
  height: 186px;
  position: relative;
  padding: 20px;
}
.card-bottom-header {
  margin-bottom: 20px;
}
.card-bottom-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.name {
  width: 72%;
  font-size: 18px;
  font-weight: 400;
}

.time {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 18px;
  font-weight: 700;
}
.time::before {
  width: 24px;
  height: 24px;
  position: absolute;
  left: -29px;
  top: 2px;
  background-image: url(../../images/icon-time.svg);
  content: "";
}

.ingredient {
  font-weight: 700;
}

.ingredients {
  margin-right: 5px;
  font-size: 12px;
  font-weight: 400;
}

.description {
  height: 92px;
  font-size: 12px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
